<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<div class="comments">
  <% @post.comments.each_with_index do |comment, i| %>
  <p>
    <strong><%= "comment #{i}:"%></strong>
    <%= comment.body %>
  </p>
  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
